.btn-primary,
.btn-primary:disabled,
.btn-outline-primary:hover {
    background-color: $gl-button-confirm-primary-background-color-default;
    color: $gl-button-confirm-primary-foreground-color-default;
    box-shadow: inset 0 0 0 1px $gl-button-confirm-primary-border-color-default;
}
