.form-check-input:checked {
    background-color: $gl-color-blue-500;
}

input::placeholder {
    color: $gl-control-placeholder-color !important;
}

label:not(.form-check-label),
legend {
    font-weight: $gl-font-weight-bold;
}