blockquote {
    border-left: $gl-border-color-default solid 4px;
    color: $gl-text-color-subtle;
    padding-left: 1rem;
}

td,
th {
    border: 1px solid #dcdcde;
    padding: 10px 16px;
}

th {
    border-bottom: solid 2px #bfbfc3;
    background-color: var(--background-color-card);
}

h2 {
    border-bottom-style: solid;
    border-bottom-color: $gl-border-color-default;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}