nav.navbar {
  background-color: $gl-color-theme-indigo-700;
  color: $gl-color-theme-indigo-50;
  padding: 0;
  z-index: 15;

  .navbar-brand {
    color: $gl-color-theme-indigo-50;

    .navbar-brand-text {
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .nav-item {
    padding: 8px 0;

    &:hover {
      background-color: $gl-action-neutral-background-color-hover;
    }

    .nav-link {
      color: $gl-color-theme-indigo-50;
    }
  }
}
