tr.b-table-busy-slot>td {
  text-align: center;

  span.table-busy-spinner {
    margin: 20px 0;
  }
}

table.with-totals>tbody>tr:first-child {
  font-weight: bold;
}

.table-row-me>td {
  background-color: $gl-color-theme-indigo-100;
}