<script setup>
import { useQuery } from '@vue/apollo-composable';
import { BButton, BForm, BFormCheckbox, BFormGroup, BFormTextarea, BModal, BOverlay } from 'bootstrap-vue-next';
import { computed, inject, ref } from 'vue';
import { useRoute } from 'vue-router';

import { mergeRequestDetailsQuery } from '~/graphql/mergeRequestDetails.query.graphql';

const route = useRoute();
const { mergeRequestIid, projectId } = route.query;

const { username } = inject('vueData');

const { result } = useQuery(mergeRequestDetailsQuery, {
  mergeRequestIid,
  projectId: `gid://gitlab/Project/${projectId}`,
});

const mergeRequest = computed(() => result.value?.projects.nodes[0].mergeRequest);
const reviewers = computed(() => mergeRequest.value?.reviewers.nodes?.map(reviewer => reviewer.username) || []);
const assignees = computed(() => mergeRequest.value?.assignees.nodes?.map(assignee => assignee.username) || []);
const author = computed(() => mergeRequest.value?.author.username);
const participants = computed(() => [author.value, ...reviewers.value, ...assignees.value]);
const authorized = computed(() => data.value?.authorized || participants.value?.includes(username));
const otherReviewers = computed(() => reviewers.value?.filter(reviewer => reviewer !== username));

const loading = computed(() => !mergeRequest.value || !data.value);

const data = ref(null);
const fetchData = async () => {
  const url = '/api/v1/manage_merge_request';

  let response;
  response = await fetch(url);
  data.value = await response.json();
};
fetchData();

const error = ref(false);
const showRequestReviewModal = ref(false);
const customReviewers = ref(null);
const requestCustomReview = (event) => {
  event.preventDefault();
  requestReview(customReviewers.value.split('\n').map(x => x.trim()).filter(x => x));
  showRequestReviewModal.value = false;
};
const includeDuo = ref(true);
const requestReview = async (reviewers) => {
  const response = await fetch('/api/v1/manage_merge_request/request_review', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    credentials: 'include',
    body: JSON.stringify({
      project_id: projectId,
      merge_request_iid: mergeRequestIid,
      include_duo: includeDuo.value,
      reviewers,
    }),
  });

  if (response?.status === 200) {
    await response;
    window.location.href = mergeRequest.value.webUrl;
  } else {
    error.value = true;
  }
};
</script>

<template>
  <BOverlay
    v-if="loading"
    :show="true"
    no-wrap
    fixed
  />
  <template v-else>
    <h1>Manage Merge Request</h1>
    <div>
      <a :href="mergeRequest.project.webUrl">{{ mergeRequest.project.name }}</a>:
      <a :href="mergeRequest.webUrl">{{ mergeRequest.title }}</a>
      <br>
      <div>
        Author: {{ author }}
      </div>
      <div>
        Reviewers: {{ reviewers.join(', ') }}
      </div>
      <div>
        Assignees: {{ assignees.join(', ') }}
      </div>
      <br>
      <div v-if="error">
        Something went wrong.
      </div>
      <div v-else-if="mergeRequest.state !== 'opened'">
        You can only manage merge requests that are open.
      </div>
      <div v-else-if="authorized">
        <h2>Request review</h2>
        <BFormCheckbox
          v-model="includeDuo"
        >
          Also request a review from GitLab Duo AI.
        </BFormCheckbox>
        <div v-if="otherReviewers.length">
          <a
            href="#"
            @click.stop="requestReview(reviewers)"
          >Request review from current reviewers {{ reviewers.join(', ') }}</a>.
        </div>
        <div>
          <a
            href="#"
            @click.stop="requestReview([data.randomAvailableCoach])"
          >Request review from merge request coach {{ data.randomAvailableCoach }}</a>.
        </div>
        <div>
          <a
            href="#"
            @click.stop="showRequestReviewModal = true"
          >Request review from someone else</a>.
        </div>
      </div>
      <div v-else>
        To manage merge requests you must be:
        <ul>
          <li>The author</li>
          <li>An assignee</li>
          <li>A reviewer</li>
          <li>An approved community member</li>
          <li>A GitLab team member</li>
        </ul>
      </div>
    </div>
  </template>

  <BModal
    v-model="showRequestReviewModal"
    title="Request review"
    no-footer
  >
    <BForm @submit="requestCustomReview">
      <BFormGroup
        label="Reviewers (one per line):"
        class="mb-3"
      >
        <BFormTextarea
          v-model="customReviewers"
          rows="3"
          max-rows="5"
          required
        />
      </BFormGroup>
      <BButton
        type="submit"
        class="float-end"
        variant="primary"
      >
        Request review
      </BButton>
    </BForm>
  </BModal>
</template>
