<script setup>
import { vBTooltip } from 'bootstrap-vue-next';
import { computed } from 'vue';

import { numberProps } from '~/common/FieldFormats';

import ContributorLevelBadge from './ContributorLevelBadge.vue';
import PointsDocumentationTooltip from './PointsDocumentationTooltip.vue';
import TableWithBusyState from './TableWithBusyState.vue';
import UserWithGitLabProfileLink from './UserWithGitLabProfileLink.vue';

const props = defineProps({
  contributors: {
    type: Array,
    default: () => [],
  },
  totals: {
    type: Object,
    default: null,
  },
  busy: {
    type: Boolean,
    default: false,
  },
  filterData: {
    type: Object,
    default: () => { return {}; },
  },
});

const fields = [
  {
    key: 'username',
    label: 'Username',
  },
  {
    key: 'contributor_level',
    label: 'Level',
    class: 'text-center',
    tdClass: 'p-0',
  },
  {
    key: 'opened_merge_requests',
    label: 'Open',
    description: 'Opened merge requests',
    ...numberProps,
  },
  {
    key: 'merged_commits',
    label: 'Commit',
    description: 'Merged commits (max 1 per merge request)',
    ...numberProps,
  },
  {
    key: 'merged_merge_requests',
    label: 'Merge',
    description: 'Merged merge requests',
    ...numberProps,
  },
  {
    key: 'merged_with_issues',
    label: 'Link',
    description: 'Merged merge requests linked to issues',
    ...numberProps,
  },
  {
    key: 'opened_issues',
    label: 'Issue',
    description: 'Opened issues',
    ...numberProps,
  },
  {
    key: 'added_notes',
    label: 'Note',
    description: 'Added notes on issues/merge requests',
    ...numberProps,
  },
  {
    key: 'bonus_points',
    label: 'Bonus',
    description: 'Bonus points and event activity',
    ...numberProps,
  },
  {
    key: 'score',
    label: 'Score',
    ...numberProps,
  },
];

const items = computed(() => {
  const contributors = props.contributors.map((item) => {
    const contributor = { ...item };
    if (item.current_user) contributor._rowVariant = 'row-me';

    return contributor;
  });

  if (!props.totals) return contributors;

  const totalsRow = [{
    username: 'table-total',
    level: null,
    ...props.totals,
  }];
  return totalsRow.concat(contributors);
});
</script>

<template>
  <TableWithBusyState
    :fields="fields"
    :items="items"
    :busy="busy"
    show-empty
    hover
    :class="totals ? 'with-totals' : ''"
  >
    <template
      v-for="field in fields.filter(f => f.description)"
      :key="field.key"
      #[`head(${field.key})`]
    >
      <span
        v-b-tooltip="{ title: field.description, delay: { hide: 0 } }"
        class="with-help-text"
        tabindex="0"
        :aria-label="field.description"
      >
        {{ field.label }}
      </span>
    </template>
    <template #head(score)="{ field }">
      <div class="d-inline-flex">
        {{ field.label }}
        <PointsDocumentationTooltip />
      </div>
    </template>
    <template #cell(username)="{ value }">
      <span v-if="value === 'table-total'">Total</span>
      <UserWithGitLabProfileLink
        v-else
        :username="value"
        :filter-data="filterData"
      />
    </template>
    <template #cell(contributor_level)="{ value }">
      <ContributorLevelBadge
        :contributor-level="value"
      />
    </template>
  </TableWithBusyState>
</template>
