<script setup>
import { BLink, vBTooltip } from 'bootstrap-vue-next';

import FaQuestionCircleO from '~icons/fa/question-circle-o';
</script>

<template>
  <BLink
    v-b-tooltip="'Points, scoring, and contributor level documentation'"
    :to="{ name: 'documentation', params: { page: 'user-guide' }, hash: '#contributor-levels' }"
    class="ms-2 text-secondary"
  >
    <FaQuestionCircleO class="question-circle-icon" />
  </BLink>
</template>
